body {
    background-color: black;
    color: papayawhip;
    padding: 2px;
}

table {
    width: 100%;
}

th {
    border: 2px solid darkorchid;
}

td {
    border: 1px solid papayawhip;
    padding-left: 5px;    
}

#main-wrapper {
    /* max-width: 1278px; */
    margin: 0 auto;
    /* padding-top: 12px; */
}

/* #table-wrapper > div {
    font-weight: bold;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 5px darkorchid, 0 0 5px darkorchid;
    background-repeat: no-repeat, repeat;
    background-blend-mode: lighten;
} */

.title-div {
    font-weight: bold;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 5px darkorchid, 0 0 5px darkorchid;
    background-repeat: no-repeat, repeat;
    background-blend-mode: lighten;
}